@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        @apply px-6 py-2 uppercase 
        text-xs tracking-widest hover:underline
    }
}


.dark {
     background-color: #333;
     color: #fff
}

.light {
 background-color: #fff;
    color: #333
}