@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        @apply px-6 py-2 uppercase 
        text-xs tracking-widest hover:underline
    }
}


.dark {
     background-color: rgb(36, 36, 36);
     color: white
}

.light {
background-color: #ecf0f3;
 color: #1f2937
}